<main>
  <div id="slideshow">
    <ul class="slides">
      <li class="slide">
        <img src="./assets/merch/sweatshirt.png" alt="black sweatshirt with Chloé logo">
      </li>
      <li class="slide">
        <img src="./assets/merch/white-shirt.png" alt="white shirt with Chloé portrait" >
      </li>
      <li class="slide">
        <img src="./assets/merch/black-shirt.png" alt="black shirt with After You logo" >
      </li>
      <li class="slide">
        <img src="./assets/merch/gray-shirt.png" alt="gray shirt with Chloé logo" >
      </li>
      <li class="slide">
        <img src="./assets/merch/crewneck.png" alt="gray crewneck with After You logo" >
      </li>
      <li class="slide">
        <img src="./assets/merch/sweatshirt.png" alt="black sweatshirt with Chloé logo">
      </li>
      <li class="slide">
        <img src="./assets/merch/white-shirt.png" alt="white shirt with Chloé portrait" >
      </li>
      <li class="slide">
        <img src="./assets/merch/black-shirt.png" alt="black shirt with After You logo" >
      </li>
      <li class="slide">
        <img src="./assets/merch/gray-shirt.png" alt="gray shirt with Chloé logo" >
      </li>
      <li class="slide">
        <img src="./assets/merch/crewneck.png" alt="gray crewneck with After You logo" >
      </li>
    </ul>
  </div>
  <div class="btnContainer-m">
    <a class="btnLink-m" href="https://www.amazon.com/b?ie=UTF8&node=21213464011" target="_blank">View Merch</a>
    <svg class="border-x-m" height="1" width="100%">
      <line x1="0" y1="0" x2="100%" y2="0%"/>
    </svg>
  </div>
</main>