<main>
  <button>
    >
  </button>
  <p>socials</p>
  <ul>
    <li>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg" alt="instagram logo" >
      </a>
    </li>
    <li>
      <a href="https://www.tiktok.com/" target="_blank">
        <img src="./assets/socials/tiktok.png" alt="tiktok logo" >
      </a>
    </li>
    <li>
      <a href="https://www.x.com/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/X_logo_2023_original.svg" alt="x logo" >
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg" alt="facebook logo" >
      </a>
    </li>
  </ul>
</main>