#socialDiv img {
  height: 30px;
}

#socialDiv main {
  position: absolute;
  width: 75px;
  height: 250px;
  left: -75px;
  transition: left .25s ease-in-out;
  background-color: var(--white-color);
  border-radius: 10px;
}

#socialDiv main.expanded {
  left: 0%;
  transition: left .25s ease-in-out;
  box-shadow: 2px 2px 15px 2px white;
}

#socialDiv main p {
  top: 50%;
  left: 30%;
  font-size: 1.5rem;
  transform: translate(30%, -50%) rotate(-90deg);
  position: absolute;
  display: flex;
  text-align: center;
  background: none;
  cursor: pointer;
}

#socialDiv main button {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 123%;
  transform: translate(110%, -50%) rotate(0deg);
  transition: transform .25s ease-in-out 5;
  background: none;
  border: none;
  cursor: pointer;
}

#socialDiv main button.flip {
  top: 50%;
  left: 120%;
  transform: translate(110%, -50%) rotate(-180deg);
  transition: transform .25s ease-in-out;
}

#socialDiv main ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  background: none;
}

#socialDiv main li {
  position: relative;
  background: none;
  padding: 15px;
}

#socialDiv a, #socialDiv img {
  background: none;
}