<main>
  <h1>'AFTER YOU' is out now!</h1>
  <img id="albumCover" src="./assets/album cover@0.5x-50.jpg">
  <div id="stream" class="btnContainer-a">
    <a class="btnLink-a">Stream 'AFTER YOU'</a>
    <svg class="border-x-a" height="1" width="100%">
      <line x1="0" y1="0" x2="100%" y2="0%"/>
    </svg>
  </div>
  <div id="streamPanel">
    <ul>
      <li>
        <a href="https://music.apple.com/us/browse" target="_blank">
          <img src="./assets/streamers/apple@0.5x.png" alt="apple music logo" />
        </a>
      </li>
      <li>
        <a href="https://spotify.com" target="_blank">
          <img src="./assets/streamers/spotify@0.5x.png" alt="spotify logo" >
        </a>
      </li>
      <li>
        <a href="https://tidal.com" target="_blank">
          <img src="./assets/streamers/tidal@0.5x.png" alt="tidal logo" >
        </a>
      </li>
    </ul>
  </div>
</main>